/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-text-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-text-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-text-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* =====================
     Colors
  ===================== */
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  /* =====================
     Typography
  ===================== */
  --font-red-hat-text: "Red Hat Text", sans-serif;

  /* Text Preset 1 - Bold */
  --text-preset-1-size: 5.6rem; /* 56px */
  --text-preset-1-line-height: 1.2; /* 120% */
  --text-preset-1-letter-spacing: 0;
  --text-preset-1-weight: 700;

  /* Text Preset 2 - Bold */
  --text-preset-2-size: 2.4rem; /* 24px */
  --text-preset-2-line-height: 1.25; /* 125% */
  --text-preset-2-letter-spacing: 0;
  --text-preset-2-weight: 700;

  /* Text Preset 3 - Semi Bold */
  --text-preset-3-size: 1.6rem; /* 16px */
  --text-preset-3-line-height: 1.5; /* 150% */
  --text-preset-3-letter-spacing: 0;
  --text-preset-3-weight: 600;

  /* Text Preset 4 - Regular */
  --text-preset-4-size: 1.4rem; /* 14px */
  --text-preset-4-line-height: 1.5; /* 150% */
  --text-preset-4-letter-spacing: 0;
  --text-preset-4-weight: 400;

  /* Text Preset 4 Bold - Semi Bold */
  --text-preset-4-bold-size: 1.4rem; /* 14px */
  --text-preset-4-bold-line-height: 1.5; /* 150% */
  --text-preset-4-bold-letter-spacing: 0;
  --text-preset-4-bold-weight: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  display: flex;
  width: 100%;
}

body {
  background-color: var(--color-rose-50);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  font-weight: var(--text-preset-3-weight);
  font-family: "Red Hat Text";
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1276px;
  display: flex;
  gap: 3.2rem;
  margin: 0 auto;
  padding: 8.8rem 3rem;
  margin-right: auto;
  margin-left: auto;
}

.desserts__container {
  display: flex;
  flex-direction: column;
}

.deserts {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 3.2rem;
  color: var(--color-rose-900);
}

.your__card {
  width: 30%;
}

.card__image {
  border-radius: 0.8rem;
}

.card__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.card__add__to {
  object-fit: cover;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 999px;
  border: 1px solid var(--color-rose-400);
  cursor: pointer;
  padding: 1.1rem 2.8rem;
  width: 160px;
  font-family: inherit;
  margin-top: -22px;
  position: relative;
  z-index: 100;

  span {
    flex-shrink: 0;
    font-weight: 600;
    font-size: var(--text-preset-4-bold-size);
  }
}

.card__body {
}

.card__btns__amount {
  background-color: var(--color-red);
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 2.8rem;
  border-radius: 999px;
  margin-top: -22px;
  color: var(--color-white);
  align-items: center;
}

.card__btn__amount {
  background-color: transparent;
  border: 0;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--color-white);
  }
  &:hover svg path {
    fill: var(--color-red);
  }
}

.card__category {
  color: var(--color-rose-500);
  font-size: var(--text-preset-4-size);
  padding-bottom: 0.4rem;
}

.card__name {
  font-size: var(--text-preset-4-size);
  padding-bottom: 0.4rem;
}

.card__price {
  color: var(--color-red);
  font-size: var(--text-preset-3-size);
}

.your__card__box {
}

.your__card {
  background-color: var(--color-white);
  align-self: flex-start;
  height: auto;
  padding: 2.4rem;
  border-radius: 1rem;
}

.your__card-title {
  color: var(--color-red);
  padding-bottom: 2.4rem;
}

.your__card-image {
  width: 100%;
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.your__card-text {
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  font-size: var(--text-preset-4-bold-size);
  text-align: center;
  color: var(--color-rose-500);
}

.your__card-content {
}

.your__card__box {
  display: flex;
  align-items: center;
  border: 0.1rem;
  border-radius: 50%;
  justify-content: space-between;
}
.your__card-name {
  font-size: var(--text-preset-4-bold-size);
  color: var(--color-rose-900);
  padding-bottom: 0.8rem;
}
.your__card-details {
}

.amount {
  color: var(--color-red);
  font-size: var(--text-preset-4-bold-size);
  padding-right: 8px;
}
.price {
  color: var(--color-rose-500);
  font-size: var(--text-preset-4-size);
  padding-right: 8px;
  font-weight: var(--text-preset-4-weight);
}
.total {
  font-size: var(--text-preset-4-bold-size);
  color: var(--color-rose-500);
}
.remove-btn {
  background-color: transparent;
  border: 0;
  border: 1px solid;
  border-color: var(--color-rose-400);
  padding: 4.37px;
  border-radius: 50%;
  cursor: pointer;
}

.remove-btn:hover {
  border-color: var(--color-red);
}

.your__card-hr {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.your__card-total {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 2.4rem;
  align-items: center;
}

.your__card__total-text {
  font-size: var(--text-preset-4-size);
  font-weight: var(--text-preset-4-weight);
  color: var(--color-rose-500);
}

.your__card__total-price {
  font-size: var(--text-preset-2-size);
  font-weight: var(--text-preset-2-weight);
  color: var(--color-rose-900);
}

.neutral__card {
  display: flex;
  gap: 4px;
  background-color: var(--color-rose-50);
  padding: 1.6rem 3.15rem;
  border-radius: 8px;
  margin-bottom: 2.4rem;
}

.title__sapn {
  color: var(--color-rose-900);
  font-size: 2rem;
  margin-left: 2rem;
}

.neutral__image {
  width: 2rem;
}

.img {
  width: 40px;
}

.neutral__text {
  font-size: var(--text-preset-4-size);
  font-weight: var(--text-preset-4-weight);
  padding-left: 3px;
}

.order__btn {
  color: var(--color-white);
  padding: 1.6rem 11rem;
  background-color: var(--color-red);
  border: 0;
  border-radius: 999px;
}

.class__box {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.class__title {
  padding-bottom: 5px;
  color: var(--color-red);
}

.class {
  margin-right: 2rem;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .deserts {
    width: 100%;
  }
  .your__card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .deserts {
    row-gap: 2.4rem;
  }
}
